<!-- templates/servicios.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>

    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Servicios</h1>
    </header>
    <div class="container">
        <section>
            <!-- Contenido de la página de Servicios -->
        </section>
    </div>
    <footer>
        Pie de página
    </footer>
</body>
</html>
